<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright 2017 Naver Corp. All rights Reserved.
  ~ Naver PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.springboot.demo.model.Post" alias="Post" />


    </typeAliases>
</configuration>